    /* statistics.css */

    /* Определение стиля для элемента с классом StatsBoxClass */
    .StatsBoxClass {
        /* Установка светло-серого фона для контейнера */
        -fx-background-color: lightgrey;

        /* Установка цвета границы (светло-серый) */
        -fx-border-color: #cccccc;

        /* Установка ширины границы в 2 пикселя */
        -fx-border-width: 2;
    }

    /* Определение стиля для элемента с классом StatsTitle */
    .StatsTitle {
        /* Установка размера шрифта на 18 пикселей */
        -fx-font-size: 18px;

        /* Установка жирного начертания шрифта */
        -fx-font-weight: bold;

        /* Установка цвета текста (темно-серый) */
        -fx-text-fill: #333333;
    }

    /* Определение стиля для элемента с классом StatsSubtitle */
    .StatsSubtitle {
        /* Установка размера шрифта на 16 пикселей */
        -fx-font-size: 16px;

        /* Установка цвета текста (светло-серый) */
        -fx-text-fill: #555555;
    }



.handleCloseBtn {
   -fx-background-color: #4CAF50; /* Цвет фона кнопки */
    -fx-border-color: lightgreen; /* Цвет границ */
    -fx-color: white;
    -fx-text-fill: white; /* Цвет текста */
    -fx-font-size: 16px; /* Размер шрифта */
    -fx-pref-width: 100px; /* Ширина кнопки */
    -fx-pref-height: 40px; /* Высота кнопки */
    -fx-padding: 5px 10px; /* Отступы внутри кнопки */


}
/* Стили для кнопки при наведении */
.handleCloseBtn:hover {
    -fx-background-color: #45a049; /* Цвет фона кнопки при наведении */
}

/* Стили для кнопки при нажатии */
.handleCloseBtn:pressed {
    -fx-background-color: #3e8e41; /* Цвет фона кнопки при нажатии */
}