/* CSS file */

/* Untouched cells */
.untouched-cell {
    -fx-background-color: #A9A9A9; /* Light gray background */
    -fx-border-color: #ffffff; /* White border */
}
/* Revealed cells */
.revealed-cell {
    -fx-background-color: #f0f0f0; /* Lighter gray background */
    -fx-border-color: transparent; /* No border */
}

/* Mines */
.mine-cell {
    -fx-background-image: url('/72.png'); /* Corrected path for mine image */
    -fx-background-size: cover; /* Ensure the image covers the entire cell */
    -fx-background-position: center center; /* Center the image */
    -fx-border-color: black; /* No border */
    -fx-background-color: transparent; /* Ensure background is transparent */
}

/* Flags */
.flag-cell {
    -fx-background-image: url('/img.png'); /* Corrected path for flag image */
    -fx-background-size: 100% 100%; /* Ensure the image covers the entire cell */
    -fx-background-position: center center; /* Center the image */
    -fx-background-color: #A9A9A9; /* Ensure background is transparent */
}

/* Numbers */
.safe-cell {
    -fx-background-color: #dcdcdc; /* Lighter gray background */
    -fx-border-color: transparent; /* No border */
    -fx-text-fill: #000000; /* Black text color */
}
